@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
#description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.nav-container {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
}
.brand {
  display: flex;
  align-items: center;
}
.nav-container h2 {
  padding-left: 10px;
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.thrive-color {
  color: #ff5400;
}

.items-container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* .items-container li {
  list-style-type: none;
} */
.items-container a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}
.items-container a:hover {
  color: #ff5400;
}
.open-menu,
.close-menu {
  position: absolute;
  color: #ff5400;
  cursor: pointer;
  font-size: 24px;
  display: none;
}
.open-menu,
.close-menu {
  top: 62px;
  right: 20px;
}
#check {
  display: none;
}
/* banner section */
.banner {
  margin-top: 50px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/Group\ 13\ .png);

  border-radius: 16px;
  height: 500px;
}
.banner-content {
  margin: 0 auto;
  width: 800px;
  text-align: center;
  transform: translateY(60%);
}
.banner-content h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.banner-content h3 {
  padding-top: 24px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.banner-content form {
  margin-top: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  display: flex;
  /* justify-content: center;
  width: 100%; */
  gap: 24px;
}
.banner-content form input,
select,
.btn {
  width: 174px;
  height: 45px;
  border-radius: 8px;
  background: #fff;
  padding-left: 10px;
  border-style: none;
  font-family: Mulish;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
}

.btn {
  border-style: none;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
/* Popular Tours */
.popular-tours {
  margin-top: 52px;
  display: flex;
  gap: 30px;
}
.tour-description h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.tour-description > p,
li {
  margin-top: 25px;
}
.tour-description ul {
  padding-left: 20px;
}
.tour-description .btn {
  margin-top: 25px;
  font-weight: 800;
}
/* tour Destination */

.tour-destinations {
  margin-top: 100px;
}
.destination-title {
  text-align: center;
}
.destination-title h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.destination-title p {
  margin: 30px;
}

.destination-grid img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}

.destination-grid {
  display: grid;
  grid-template-rows: (3, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.grid-item-1 {
  grid-column: 1/6;
  position: relative;
}
.grid-text-1 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-item-2 {
  grid-column: 6/13;
  position: relative;
}
.grid-text-2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-item-3 {
  grid-column: 1/4;
  position: relative;
}
.grid-text-3 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-item-4 {
  grid-column: 4/10;
  position: relative;
}
.grid-text-4 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-item-5 {
  grid-column: 10/13;
  position: relative;
}
.grid-text-5 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-item-6 {
  grid-column: 1/5;
  position: relative;
}
.grid-text-6 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-item-7 {
  grid-column: 5/13;
  position: relative;
}
.grid-text-7 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Choose us section */

.choose-us {
  margin-top: 100px;
}
.choose-us-title {
  text-align: center;
}
.choose-us-title h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.choose-us-title p {
  margin: 30px;
}
.first-two-card {
  display: flex;
  gap: 20px;
}
.first-two-card h2 {
  padding: 10px 0px;
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.first-card {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
}
.second-card {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px;
}
.third-card {
  margin: 20px auto;
  width: 573px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding: 32px;
}

/* Newsletter section */
.newsletter-section {
  display: flex;
  gap: 20px;
}

.newsletter-form {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 32px;
}
.newsletter-form p {
  margin: 30px 0;
}
.newsletter-form hr {
  margin: 30px 0px;
  color: rgba(19, 19, 24, 0.1);
}
.newsletter-form input {
  width: 390px;
  height: 52px;
  padding: 10px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border-style: none;
  margin: 10px;
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
}
.newsletter-form .btn {
  margin: 10px;
  width: 390px;
  font-weight: 800;
  font-size: 20px;
}
.newsletter-img {
  position: relative;
  object-fit: cover;
}
.newsletter-img-text {
  position: absolute;
  bottom: 66px;
  right: 16px;
  text-align: center;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  padding: 20px;
  border-radius: 16px;
  background: #ff5400;
  color: #fff;
}
